* {
    margin: 0;
    padding: 0;
}


.container {
    background-color: #1ccacd;
    display: flex;
    justify-content: space-between;
    padding: 0px 250px;
}


ul,
li {
    display: inline;
}


ul,
li,
a {
    text-decoration: none;
    font-weight: 300;
    font-style: italic;
    font-size: 25px;
    padding: 19px;
    color: white;
}


.main {
    position: relative;
    background-color: #1ccacd;
    height: 550px;
    width: 100%;
}


.main h3 {
    position: absolute;
    padding: 20px 270px;
    color: white;
    top: 100px;
    font-size: 55px;
    font-weight: 200;
}


.main>.owlcarousel2content {
    position: absolute;
    padding: 20px 270px;
    top: 200px;
    font-size: 25px;
    text-align: justify;
    color: white;
    width: 35%;
}


.btn1 {
    position: absolute;
    padding: 15px 32px;
    text-decoration: none;
    border: 1px solid #FFF;
    background-color: white;
    left: 270px;
    top: 310px;
}


.btn1 > a{
    color: #1ccacd;
}


.btn2{
    position: absolute;
    padding: 15px 32px;
    text-decoration: none;
    border: 1px solid #FFF;
    background: transparent;
    left: 500px;
    top: 310px;
}


.btn2 > a{
    color: #FFF;
}


.versioncontent{
    position: absolute;
    color: #FFF;
    left: 270px;
    top: 380px;
}


.owllogo{
    position: absolute;
    top: 175px;
    left: 1000px;
}


.owlimg{
    /* margin-right: 100px; */
}


.heading1{
    margin: 32px;
    color: #808080;
    text-align: center;
}


.threeboxes{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}


.box1{
    background-color: #ff0000bb;
    margin: 25px 15px;
    height: 235px;
    width: 370px;
}


.box2{
    background-color: #ff0000bb;
    margin: 25px 5px;
    height: 235px;
    width: 370px;
}


.box3{
    background-color: #ff0000bb;
    margin: 25px 13px;
    height: 235px;
    width: 370px;
}


.box1 > p{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    height: 250px;
    width: 250px;
    color: #FFF;
    font-size: 25px;
    font-style: italic;
}


.box2 > p{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    height: 250px;
    width: 250px;
    color: #FFF;
    font-size: 25px;
    font-style: italic;
}


.box3 > p{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
    height: 250px;
    width: 250px;
    color: #FFF;
    font-size: 25px;
    font-style: italic;
}


/* game styling starts here */


.main1{
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-left: 110px;
    font-weight: 100;
}


.gameimg1{
    padding: 25px;
}


.gamecontentmain1{
    margin: 52px 25px 0 40px;
}


.content1{
    margin-bottom: 16px;
    font-size: 30px;
}


.gamemmm1{
    width: 75%;
    margin-top: 10px;
}


/* game styling ends here */


/* touch styling starts here */


.main2{
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-left: 110px;
    font-weight: 100;
}


.touchimg2{
    margin-left: 60px;
    padding: 25px;
}


.touchcontentmain2{
    margin: 52px 25px 0 40px;
}


.content2{
    margin-bottom: 16px;
    font-size: 30px;
}


.touchmmm2{
    width: 70%;
    margin-top: 10px;
}


/* touch styling ends here */


/* fully responsive styling starts here */


.main3{
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-left: 145px;
    font-weight: 100;
}


.fullyimg3{
    margin-right: 50px;
    padding: 25px;
}


.fullycontentmain3{
    margin-top: 30px;
    margin-right: 70px;
    /* margin: 52px 25px 0 40px; */
}


.content3{
    margin-left: 37px;
    margin-bottom: 16px;
    font-size: 30px;
}


.fullymmm3{
    margin-left: 40px;
    width: 75%;
    margin-top: 10px;
}


/* fully responsive styling ends here */


/* modern browsers styling starts here */


.main4{
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-left: 145px;
    font-weight: 100;
}


.modernimg4{
    margin-top: 10px;
    width: 31%;
    margin-left: 160px;
    padding: 25px;
}


.moderncontentmain4{
    margin-left: 115px;
    margin-top: 25px;
    margin-right: 385px;
}


.content4{
    margin-left: 37px;
    margin-bottom: 16px;
    font-size: 30px;
}


.modernmmm4{
    margin-left: 40px;
    width: 63%;
    margin-top: 10px;
}


/* modern browsers styling ends here */


/* zombie browsers styling starts here */


.main5{
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-left: 56px;
    font-weight: 100;
}


.zombieimg5{
    margin-top: 10px;
    width: 31%;
    margin-left: 160px;
    padding: 25px;
}


.zombiecontentmain5{
    margin-top: 50px;
    margin-right: 385px;
}


.content5{
    margin-left: 62px;
    margin-bottom: 16px;
    font-size: 30px;
}


.zombiemmm5{
    margin-left: 62px;
    width: 82%;
    margin-top: 10px;
}


/* zombie browsers styling ends here */


/* modules and plugins styling starts here */


.main6{
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-left: 155px;
    font-weight: 100;
}


.modulesimg6{
    
    width: 45%;
    margin-left: 160px;
    padding: 25px;
}


.modulescontentmain6{
    margin-left: 90px;
    margin-top: 30px;
    margin-right: 119px;
}


.content6{
    margin-left: 62px;
    margin-bottom: 16px;
    font-size: 30px;
}


.modulesmmm6{
    margin-left: 62px;
    width: 43%;
    margin-top: 10px;
}


/* modules and plugins styling ends here */


/* horizontal line styling starts here */


.horizontalline{
    margin-top: 150px;
    width: 50%;
    margin-left: 305px;
}


/* horizontal line styling ends here */


/* blue highlited paragraph styling part starts here */


.main7{
    width: 50%;
    margin-left: 300px;
    margin-top: 50px;
    text-align: center;
}


.content7{
    font-size: 22px;
    color: #1ccacd;
}


.content8{
    margin-top: 45px;
    font-size: 17px;
}


/* blue highlited paragraph styling part ends here */


/* footer styling starts here */


.footerbox{
    margin-right: 100px;
    margin-top: 120px;
    justify-content: center;
    display: flex;
    background-color: #8d8d8d26;
}


.content9{
    font-size: 20px;
    color: #1ccacd;
}


.contentimg9{
    color: #1ccacd;
    height: 25px;
    width: 25px;
    margin-top: 20px;
}


/* footer styling ends here */